In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime 
%matplotlib inline
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("Desktop/sp500.csv")
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,16.660000,1260000
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,16.850000,1890000
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,16.930000,2550000
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,16.980000,2010000
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,17.080000,2520000
5,1950-01-10,17.030001,17.030001,17.030001,17.030001,17.030001,2160000
6,1950-01-11,17.090000,17.090000,17.090000,17.090000,17.090000,2630000
7,1950-01-12,16.760000,16.760000,16.760000,16.760000,16.760000,2970000
8,1950-01-13,16.670000,16.670000,16.670000,16.670000,16.670000,3330000
9,1950-01-16,16.719999,16.719999,16.719999,16.719999,16.719999,1460000
10,1950-01-17,16.860001,16.860001,16.860001,16.860001,16.860001,1790000
11,1950-01-18,16.850000,16.850000,16.850000,16.850000,16.850000,1570000
12,1950-01-19,16.870001,16.870001,16.870001,16.870001,16.870001,1170000
13,1950-01-20,16.900000,16.900000,16.900000,16.900000,16.900000,1440000
14,1950-01-23,16.920000,16.920000,16.920000,16.920000,16.920000,1340000
15,1950-01-24,16.860001,16.860001,16.860001,16.860001,16.860001,1250000
16,1950-01-25,16.740000,16.740000,16.740000,16.740000,16.740000,1700000
17,1950-01-26,16.730000,16.730000,16.730000,16.730000,16.730000,1150000
18,1950-01-27,16.820000,16.820000,16.820000,16.820000,16.820000,1250000
19,1950-01-30,17.020000,17.020000,17.020000,17.020000,17.020000,1640000
20,1950-01-31,17.049999,17.049999,17.049999,17.049999,17.049999,1690000
21,1950-02-01,17.049999,17.049999,17.049999,17.049999,17.049999,1810000
22,1950-02-02,17.230000,17.230000,17.230000,17.230000,17.230000,2040000
23,1950-02-03,17.290001,17.290001,17.290001,17.290001,17.290001,2210000
24,1950-02-06,17.320000,17.320000,17.320000,17.320000,17.320000,1490000
25,1950-02-07,17.230000,17.230000,17.230000,17.230000,17.230000,1360000
26,1950-02-08,17.209999,17.209999,17.209999,17.209999,17.209999,1470000
27,1950-02-09,17.280001,17.280001,17.280001,17.280001,17.280001,1810000
28,1950-02-10,17.240000,17.240000,17.240000,17.240000,17.240000,1790000
29,1950-02-14,17.059999,17.059999,17.059999,17.059999,17.059999,2210000
...,...,...,...,...,...,...,...
17557,2019-10-11,2963.070068,2993.280029,2963.070068,2970.270020,2970.270020,3580460000
17558,2019-10-14,2965.810059,2972.840088,2962.939941,2966.149902,2966.149902,2557020000
17559,2019-10-15,2973.610107,3003.280029,2973.610107,2995.679932,2995.679932,3340740000
17560,2019-10-16,2989.679932,2997.540039,2985.199951,2989.689941,2989.689941,3222570000
17561,2019-10-17,3000.770020,3008.290039,2991.790039,2997.949951,2997.949951,3115960000
17562,2019-10-18,2996.840088,3000.000000,2976.310059,2986.199951,2986.199951,3264290000
17563,2019-10-21,2996.479980,3007.330078,2995.350098,3006.719971,3006.719971,3271620000
17564,2019-10-22,3010.729980,3014.570068,2995.040039,2995.989990,2995.989990,3523890000
17565,2019-10-23,2994.010010,3004.780029,2991.209961,3004.520020,3004.520020,3392870000
17566,2019-10-24,3014.780029,3016.070068,3000.419922,3010.290039,3010.290039,3692600000
17567,2019-10-25,3003.320068,3027.389893,3001.939941,3022.550049,3022.550049,3370370000
17568,2019-10-28,3032.120117,3044.080078,3032.120117,3039.419922,3039.419922,3521230000
17569,2019-10-29,3035.389893,3047.870117,3034.810059,3036.889893,3036.889893,3589930000
17570,2019-10-30,3039.739990,3050.100098,3025.959961,3046.770020,3046.770020,3776030000
17571,2019-10-31,3046.899902,3046.899902,3023.189941,3037.560059,3037.560059,4139280000
17572,2019-11-01,3050.719971,3066.949951,3050.719971,3066.909912,3066.909912,3930200000
17573,2019-11-04,3078.959961,3085.199951,3074.870117,3078.270020,3078.270020,4146850000
17574,2019-11-05,3080.800049,3083.949951,3072.149902,3074.620117,3074.620117,4486130000
17575,2019-11-06,3075.100098,3078.340088,3065.889893,3076.780029,3076.780029,4458190000
17576,2019-11-07,3087.020020,3097.770020,3080.229980,3085.179932,3085.179932,4144640000
17577,2019-11-08,3081.250000,3093.090088,3073.580078,3093.080078,3093.080078,3499150000
17578,2019-11-11,3080.330078,3088.330078,3075.820068,3087.010010,3087.010010,3035530000
17579,2019-11-12,3089.280029,3102.610107,3084.729980,3091.840088,3091.840088,3466010000
17580,2019-11-13,3084.179932,3098.060059,3078.800049,3094.040039,3094.040039,3509280000
17581,2019-11-14,3090.750000,3098.199951,3083.260010,3096.629883,3096.629883,3276070000
17582,2019-11-15,3107.919922,3120.459961,3104.600098,3120.459961,3120.459961,3335650000
17583,2019-11-18,3117.909912,3124.169922,3112.060059,3122.030029,3122.030029,3436690000
17584,2019-11-19,3127.449951,3127.639893,3113.469971,3120.179932,3120.179932,3590070000
17585,2019-11-20,3114.659912,3118.969971,3091.409912,3108.459961,3108.459961,4034890000
17586,2019-11-21,3108.489990,3110.110107,3094.550049,3103.540039,3103.540039,3720560000

In [6]:
df.shape

(17587, 7)

In [7]:
df.describe()

,Open,High,Low,Close,Adj Close,Volume
count,17587.000000,17587.000000,17587.000000,17587.000000,17587.000000,1.758700e+04
mean,598.397920,601.877323,594.707295,598.527476,598.527476,9.546936e+08
std,720.894759,724.452738,717.011562,720.998790,720.998790,1.567392e+09
min,16.660000,16.660000,16.660000,16.660000,16.660000,6.800000e+05
25%,86.305001,87.080002,85.645001,86.314999,86.314999,9.150000e+06
50%,170.410004,170.839996,169.630005,170.509995,170.509995,9.982000e+07
75%,1110.769959,1118.445007,1104.760010,1110.769959,1110.769959,1.285345e+09
max,3127.449951,3127.639893,3113.469971,3122.030029,3122.030029,1.145623e+10

In [8]:
df['DateTime'] = pd.to_datetime(df.Date)
df_ordered = df.sort_values('DateTime', ascending=True)
df_ordered['index'] = range(0,df.shape[0],1)
df_ordered.set_index(['index'])

,Date,Open,High,Low,Close,Adj Close,Volume,DateTime
index,,,,,,,,
0,1950-01-03,16.660000,16.660000,16.660000,16.660000,16.660000,1260000,1950-01-03
1,1950-01-04,16.850000,16.850000,16.850000,16.850000,16.850000,1890000,1950-01-04
2,1950-01-05,16.930000,16.930000,16.930000,16.930000,16.930000,2550000,1950-01-05
3,1950-01-06,16.980000,16.980000,16.980000,16.980000,16.980000,2010000,1950-01-06
4,1950-01-09,17.080000,17.080000,17.080000,17.080000,17.080000,2520000,1950-01-09
5,1950-01-10,17.030001,17.030001,17.030001,17.030001,17.030001,2160000,1950-01-10
6,1950-01-11,17.090000,17.090000,17.090000,17.090000,17.090000,2630000,1950-01-11
7,1950-01-12,16.760000,16.760000,16.760000,16.760000,16.760000,2970000,1950-01-12
8,1950-01-13,16.670000,16.670000,16.670000,16.670000,16.670000,3330000,1950-01-13
9,1950-01-16,16.719999,16.719999,16.719999,16.719999,16.719999,1460000,1950-01-16
10,1950-01-17,16.860001,16.860001,16.860001,16.860001,16.860001,1790000,1950-01-17
11,1950-01-18,16.850000,16.850000,16.850000,16.850000,16.850000,1570000,1950-01-18
12,1950-01-19,16.870001,16.870001,16.870001,16.870001,16.870001,1170000,1950-01-19
13,1950-01-20,16.900000,16.900000,16.900000,16.900000,16.900000,1440000,1950-01-20
14,1950-01-23,16.920000,16.920000,16.920000,16.920000,16.920000,1340000,1950-01-23
15,1950-01-24,16.860001,16.860001,16.860001,16.860001,16.860001,1250000,1950-01-24
16,1950-01-25,16.740000,16.740000,16.740000,16.740000,16.740000,1700000,1950-01-25
17,1950-01-26,16.730000,16.730000,16.730000,16.730000,16.730000,1150000,1950-01-26
18,1950-01-27,16.820000,16.820000,16.820000,16.820000,16.820000,1250000,1950-01-27
19,1950-01-30,17.020000,17.020000,17.020000,17.020000,17.020000,1640000,1950-01-30
20,1950-01-31,17.049999,17.049999,17.049999,17.049999,17.049999,1690000,1950-01-31
21,1950-02-01,17.049999,17.049999,17.049999,17.049999,17.049999,1810000,1950-02-01
22,1950-02-02,17.230000,17.230000,17.230000,17.230000,17.230000,2040000,1950-02-02
23,1950-02-03,17.290001,17.290001,17.290001,17.290001,17.290001,2210000,1950-02-03
24,1950-02-06,17.320000,17.320000,17.320000,17.320000,17.320000,1490000,1950-02-06
25,1950-02-07,17.230000,17.230000,17.230000,17.230000,17.230000,1360000,1950-02-07
26,1950-02-08,17.209999,17.209999,17.209999,17.209999,17.209999,1470000,1950-02-08
27,1950-02-09,17.280001,17.280001,17.280001,17.280001,17.280001,1810000,1950-02-09
28,1950-02-10,17.240000,17.240000,17.240000,17.240000,17.240000,1790000,1950-02-10
29,1950-02-14,17.059999,17.059999,17.059999,17.059999,17.059999,2210000,1950-02-14
...,...,...,...,...,...,...,...,...
17557,2019-10-11,2963.070068,2993.280029,2963.070068,2970.270020,2970.270020,3580460000,2019-10-11
17558,2019-10-14,2965.810059,2972.840088,2962.939941,2966.149902,2966.149902,2557020000,2019-10-14
17559,2019-10-15,2973.610107,3003.280029,2973.610107,2995.679932,2995.679932,3340740000,2019-10-15
17560,2019-10-16,2989.679932,2997.540039,2985.199951,2989.689941,2989.689941,3222570000,2019-10-16
17561,2019-10-17,3000.770020,3008.290039,2991.790039,2997.949951,2997.949951,3115960000,2019-10-17
17562,2019-10-18,2996.840088,3000.000000,2976.310059,2986.199951,2986.199951,3264290000,2019-10-18
17563,2019-10-21,2996.479980,3007.330078,2995.350098,3006.719971,3006.719971,3271620000,2019-10-21
17564,2019-10-22,3010.729980,3014.570068,2995.040039,2995.989990,2995.989990,3523890000,2019-10-22
17565,2019-10-23,2994.010010,3004.780029,2991.209961,3004.520020,3004.520020,3392870000,2019-10-23
17566,2019-10-24,3014.780029,3016.070068,3000.419922,3010.290039,3010.290039,3692600000,2019-10-24
17567,2019-10-25,3003.320068,3027.389893,3001.939941,3022.550049,3022.550049,3370370000,2019-10-25
17568,2019-10-28,3032.120117,3044.080078,3032.120117,3039.419922,3039.419922,3521230000,2019-10-28
17569,2019-10-29,3035.389893,3047.870117,3034.810059,3036.889893,3036.889893,3589930000,2019-10-29
17570,2019-10-30,3039.739990,3050.100098,3025.959961,3046.770020,3046.770020,3776030000,2019-10-30
17571,2019-10-31,3046.899902,3046.899902,3023.189941,3037.560059,3037.560059,4139280000,2019-10-31
17572,2019-11-01,3050.719971,3066.949951,3050.719971,3066.909912,3066.909912,3930200000,2019-11-01
17573,2019-11-04,3078.959961,3085.199951,3074.870117,3078.270020,3078.270020,4146850000,2019-11-04
17574,2019-11-05,3080.800049,3083.949951,3072.149902,3074.620117,3074.620117,4486130000,2019-11-05
17575,2019-11-06,3075.100098,3078.340088,3065.889893,3076.780029,3076.780029,4458190000,2019-11-06
17576,2019-11-07,3087.020020,3097.770020,3080.229980,3085.179932,3085.179932,4144640000,2019-11-07
17577,2019-11-08,3081.250000,3093.090088,3073.580078,3093.080078,3093.080078,3499150000,2019-11-08
17578,2019-11-11,3080.330078,3088.330078,3075.820068,3087.010010,3087.010010,3035530000,2019-11-11
17579,2019-11-12,3089.280029,3102.610107,3084.729980,3091.840088,3091.840088,3466010000,2019-11-12
17580,2019-11-13,3084.179932,3098.060059,3078.800049,3094.040039,3094.040039,3509280000,2019-11-13
17581,2019-11-14,3090.750000,3098.199951,3083.260010,3096.629883,3096.629883,3276070000,2019-11-14
17582,2019-11-15,3107.919922,3120.459961,3104.600098,3120.459961,3120.459961,3335650000,2019-11-15
17583,2019-11-18,3117.909912,3124.169922,3112.060059,3122.030029,3122.030029,3436690000,2019-11-18
17584,2019-11-19,3127.449951,3127.639893,3113.469971,3120.179932,3120.179932,3590070000,2019-11-19
17585,2019-11-20,3114.659912,3118.969971,3091.409912,3108.459961,3108.459961,4034890000,2019-11-20
17586,2019-11-21,3108.489990,3110.110107,3094.550049,3103.540039,3103.540039,3720560000,2019-11-21

In [26]:
df_ordered['date_after_april1_2018'] = df_ordered.DateTime > datetime(year=2018, month=4, day=1)

# Price(close) mean
ordered_close = df_ordered.Close
ordered_close_log = np.log(ordered_close)
price_mean_5day = ordered_close_log.rolling(5).mean().shift(1)
price_mean_365day = ordered_close_log.rolling(365).mean().shift(1)
price_mean_ratio = price_mean_5day/price_mean_365day

#Price(Close) Std
price_std_5day = ordered_close_log.rolling(5).std().shift(1)
price_std_365day = ordered_close_log.rolling(365).std().shift(1)
price_std_ratio = price_std_5day/price_std_365day

In [27]:
#Volume mean
ordered_volume = df_ordered.Volume
ordered_volume_log = np.log(ordered_volume)
volume_mean_5day = ordered_volume_log.rolling(5).mean().shift(1)
volume_mean_365day = ordered_volume_log.rolling(365).mean().shift(1)
volume_mean_ratio = volume_mean_5day/volume_mean_365day

#Volume std
volume_std_5day = ordered_volume_log.rolling(5).std().shift(1)
volume_std_365day = ordered_volume_log.rolling(365).std().shift(1)
volume_std_ratio = volume_std_5day/volume_std_365day

In [28]:
# Price(close) mean
df_ordered['price_mean_5day'] = price_mean_5day
df_ordered['price_mean_365day'] = price_mean_365day
df_ordered['price_mean_ratio'] = price_mean_ratio

#Price(Close) Std
df_ordered['price_std_5day'] = price_std_5day
df_ordered['price_std_365day'] = price_std_365day
df_ordered['price_std_ratio'] = price_std_ratio

#Volume(mean)
df_ordered['volume_mean_5day'] = volume_mean_5day
df_ordered['volume_mean_365day'] = volume_mean_365day
df_ordered['volume_mean_ratio'] = volume_mean_ratio

#Voume(std)
df_ordered['volume_std_5day'] = volume_std_5day
df_ordered['volume_std_365day'] = volume_std_365day
df_ordered['volume_std_ratio'] = volume_std_ratio

In [87]:
df_new = df_ordered[df_ordered["DateTime"] > datetime(year=1951, month=1, day=2)]
df_no_NA = df_new.dropna(axis=0)

df_train = df_no_NA[df_no_NA['DateTime'] < datetime(year=2015, month=1, day=1)]
df_test = df_no_NA[df_no_NA['DateTime'] >= datetime(year=2015, month=1, day=1)]

In [88]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
features = ['price_mean_5day', 'price_mean_365day', 'price_mean_ratio',
            'price_std_5day', 'price_std_365day', 'price_std_ratio',
            'volume_mean_5day', 'volume_mean_365day', 'volume_mean_ratio',
           'volume_std_5day','volume_std_365day', 'volume_std_ratio' ]
X = df_train[features]
X_test = df_test[features]
y = df_train.Close
y_test = df_test.Close

In [89]:
model.fit(X, y)
pred = model.predict(X_test)

In [90]:
MAE = sum(abs(pred - y_test))/len(pred)
print(MAE )
print(model.score(X, y))

976.127731078904
0.8637782976470708